/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 200 to 1000

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
} */
:root {
  --Dark-Blue: hsl(209, 23%, 22%); /* (Dark Mode Elements) */
  --Very-Dark-Blue: hsl(200, 15%, 8%); /* (Light Mode Text) */
  --Dark-Gray: hsl(0, 0%, 52%); /* (Light Mode Input) */
  --Very-Light-Gray: hsl(0, 0%, 85%); /* (Light Mode Background) */
  --White: hsl(0, 0%, 100%); /* (Dark Mode Text & Light Mode Elements) */
  font-size: 12px;

  --forground: var(--White);
  --background:var(--Very-Dark-Blue);
  --elements:var(--Dark-Blue);
}
.lightMode{
  --forground: var(--Very-Dark-Blue);
  --background:var(--Very-Light-Gray);
  --elements:var(--White);
}
*,
*::before,
*::after {
  color: var(--forground);
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}
#header {
  display: flex;
  flex-direction: column;
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--elements);
  padding-inline: 2rem;
}
#themeBtn {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: var(--elements);
  border: none;
}
#themeBtn svg {
  fill: var(--forground);
  height: 20px;
  width: 20px;
  rotate: -25deg;
}

#searchForm {
  background-color: var(--background);

  padding-block: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-inline: 8.6%;
  height: 100%;
}
#searchForm:has(#searchBar){
  #backButton{
    display: none;
    
  }
}
#searchForm > * {
  background-color: var(--elements);
  border-radius: 5px;
}
#searchBar {
  font-size: larger;
  width: 28rem;
  height: 2.5rem;
  align-self: flex-start;
  border: none;
  padding: 2rem;
}
#backButton {
  height: 2.5rem;
  width: 100px;

  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
}
#backButton > svg {
  fill: var(--forground);
  height: 20px;
  width: 20px;
}
#searchBar::placeholder {
  color: var(--forground);
}

#FilterByRegion {
  border: none;
  height: 4rem;

  padding-inline: 2rem;
  margin-left: auto;
  font-size: larger;
}
#FilterByRegion:focus,
#searchBar:focus {
  outline: none;
}

#countryInfoContainer {
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  margin-top: 15rem;
  margin-inline: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}
#countryInfoDiv {
  background: var(--elements);
  border-radius: 5px;
  width: 300px;
  height: 400px;
  font-size: 16px;
}
#imgContainer {
  width: 300px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#countryStats {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
}
#countryName {
  line-height: 3rem;
  font-weight: 800;
}
#countryDetailsDiv {
  margin-top: 20rem;
  display: flex;
  flex-direction: row;
  padding-inline: 8.6%;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
}

#DetailsImgContainer {
  width: 35em;
  height: 25em;
  object-fit: fill;
}
#statsWrapper {
  margin-left: 10rem;
}
#statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
}
#DetailsCountryStats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: max-content;
}
#DetailsCountryName {
  margin-bottom: 3rem;
}

#DetailsCountryExtra,
#DetailsCountryStats {
  display: flex;
  flex-direction: column;
  line-height: 3rem;
}
#DetailsCountryExtra {
  margin-left: 10rem;
}
#DetailsCountryNeighbors {
}
#borderTag,
#borderCountries {
}
#borderTag {
}
#borderCountries {
}
